@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="content px-4">
            <h1>Blazor Wasm with Backend gRPC Service Demo</h1>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
